<div class="card">
  <%= link_to image_tag( item.image, class: :card__img ), item_path(item.id) if item.image.attached? %>
  <div class="card__body">
    <%= link_to item.title, item_path(item.id), class: :card__title%>
    <p class="card__summary">
      <%= item.introduce %>
    </p>
    <%= link_to "by #{item.user.nickname}", user_path(item.user), class: :card__user %>
  </div>
</div>